[user]
email = scvhapps@gmail.com
name = schvabodka-man
[credential]
helper = /home/user/bin/pass-git-helper/pass-git-helper
[core]
autocrlf = input
excludesfile = /home/user/.gitignore_global
[alias]
c = "!fish -c \"git commit -a -m \"$@\"\" -"
a = add
d = diff
b = checkout -b
m = merge
p = "!sh -c \"git push -u origin (git rev-parse --abbrev-ref HEAD)\" -"
pm = push -u origin master
#tags
t = "!sh -c \"git tag -a $@ -m \"Version $@\" \" -"
#stash
s = stash save
save = s
saved = stash list
stashed = saved
load = stash apply
l = load
#interactive search via fzf and non interactive via fd
search = "!fish -c \"git ls-tree -r (git rev-parse --abbrev-ref HEAD) --name-only | fzf\" -"
fzf = search
find = "!fish -c \"~/.cargo/bin/fd \"$@\" -H -p (git rev-parse --show-toplevel)\" -"
#list all files in current branch
ls = "!fish -c \"git ls-tree -r (git rev-parse --abbrev-ref HEAD)\" -"
lsa = ls #just in case
list = ls
#squash latest commits in one
squash = "!sh -c \"git rebase -i HEAD~$@\" -"
#view history of current branch
history = "!fish -c \"git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --full-history (git rev-parse --abbrev-ref HEAD) -- \" -"
history-file = "!fish -c \"git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --full-history (git rev-parse --abbrev-ref HEAD) -- $@ \" -"
history-file-all = "!fish -c \"git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --full-history --all $@ \" -"
file-history = history-file
file-log = history-file
log-file = history-file
file-history-all = history-file-all
file-log-all = history-file-all
log-file-all = history-file-all
log-all = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
history-all = log-all
all-history = log-all
all-log = log-all
branches-history = log-all
history-branches = log-all
#moving one head at time
undo = reset --hard HEAD~1
redo = reset --hard HEAD@{1}
prev = undo
previous = undo
next = redo
back = undo
#same ones
goto = reset --hard
jump = goto
g = goto
#list tags
tag-ls = log --no-walk --tags --decorate --format=format:'%C(red)%h%C(reset) %C(yellow)%d%C(reset) %C(bold green)%s' --decorate=full
#yes, i do like shitload of aliases
tags = tag-ls
tags-ls = tag-ls
tag-list = tag-ls
tags-list = tag-ls
ls-tag = tag-ls
list-tag = tag-ls
ls-tags = tag-ls
list-tags = tag-ls
#list branches
branch-ls = branch --list -a -vv
branch-list = branch-ls
ls-branch = branch-ls
list-branch = branch-ls
branches = branch-ls
branches-remote = branch --list -r -vv
branch-ls-remote = branches-remote
branch-list-remote = branches-remote
ls-branch-remote = branches-remote
list-branch-remote = branches-remote
branches-local = branch -vv
branch-ls-local = branches-local
branch-list-local = branches-local
ls-branch-local = branches-local
list-branch-local = branches-local
gui = "!fish -c \"git-smart-gui $@\" -"
