Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #0a0a0a
XTerm*foreground: #FFFFFF
XTerm*pointerColor: #0CEBBF
XTerm*faceName: Fixed
XTerm*faceSize: 11

rofi.color-enabled: true
rofi.color-window: argb:cc0a0a0a, #0a0a0a, #0a0a0a
rofi.color-normal: argb:000a0a0a, #FFFFFF, argb:000a0a0a, #FFFFFF, #000000
rofi.color-active: argb:000a0a0a, #87FB00, argb:000a0a0a, #FFFFFF, #006504
rofi.color-urgent: argb:000a0a0a, #ff1844, argb:000a0a0a, #FFFFFF, #ff1844
rofi.bw: 0
rofi.padding: 300
rofi.line-margin: 0
rofi.separator-style: none
