[
  {
    title: "Fish"
    group: "configs"
    paths: [
      "/home/user/.config/fish"
      "/home/user/notes"
    ]
  }
  {
    title: "I3"
    group: "configs"
    paths: [
      "/home/user/.i3"
    ]
  }
  {
    title: "Org-Wiki"
    group: "productivity"
    paths: [
      "/home/user/Dropbox/Org/Wiki"
    ]
  }
  {
    title: "Todo"
    group: "productivity"
    paths: [
      "/home/user/Dropbox/todo"
    ]
  }
  {
    title: "Emacs"
    group: "configs"
    paths: [
      "/home/user/.emacs.d"
    ]
  }
  {
    title: "Todo Txt config"
    group: "configs"
    paths: [
      "/home/user/.config/todo.txt"
    ]
  }
  {
    title: "Polybar"
    group: "configs"
    paths: [
      "/home/user/.config/polybar"
    ]
  }
]
