  /*WARNING EVERYTHINGHERE IS MADE FROM THIS THEME
  https://userstyles.org/styles/112107/global-black-for-amoled-displays
  I JUST CHANGED COLORS*/

    html, body , body>div {
		background: #0e1112 !important;
	}

	* {
		border-color: #0e1112 !important;
	}

	body *:not([background]):not(.works-info) {
     	background-color: #0e1112 !important;
    }

	body *
	{
		text-shadow: none !important;
		color: rgba(255,255,255,1) !important;
	}

	body a, body a:link,
	body a *:not(img), body a:link *:not(img)
	{
		background-color: rgba(60,60,60,0) !important;
		color: #00ffe0 !important;
	}

	body a:hover, body a:active,
	body a:hover *:not(img), body a:active *:not(img)
	{
		background-color: rgba(60,60,60,0) !important;
		color: #00ff0a !important;
	}

	body a:visited,
	body a:visited *:not(img)
	{
		background-color: rgba(60,60,60,0) !important;
		color: #ff0000 !important;
	}

	body input, body textarea
	{
	   color: #f0f0f0 !important;
	   background: #0e1112 !important;
	   border-color: #0e1112 !important;
	}

