"*":
  "atom-beautify":
    general:
      analytics: false
  "atom-diary":
    baseDir: "~/Notes/"
    filePrefix: "note"
    markupLanguage: "Markdown"
  "character-table":
    mnemonicAllowReversed: false
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "background-tips"
      "welcome"
    ]
    packagesWithKeymapsDisabled: [
      "tool-bar"
      "git-time-machine"
      "highlight-selected"
      "character-table"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
  "exception-reporting":
    userId: "3bacd1ad-b5ee-c8a9-66a3-a556156e0012"
  "git-diff":
    showIconsInEditorGutter: true
  "project-manager":
    includeGitRepositories: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    showInvisibles: true
